<div class="col-12">
  <div class="row">
    <!-- header -->
    <div class="header h-75 col-12 bg-light">
      <div class="container pt-2 pb-2 pt-md-5 pb-md-5 mt-md-5 mt-2 mb-md-5 mb-2">
        <h1 class="text-center  pt-5 pb-3 light">Fast and Trusted</h1>
        <p class="text-center pb-2 pb-md-5 mb-2 mb-md-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sunt voluptas recusandae asperiores hic
          libero
          sint omnis laborum dicta reiciendis, aliquid ea amet similique cupiditate laudantium voluptatem quidem in
          quos!Magnam in libero odio placeat quidem minus modi qui impedit recusandae commodi. Excepturi accusantium ad
          a
          nostrum velit perferendis aut sequi. Dicta dolorem architecto atque et odit ratione repudiandae consectetur?
        </p>
      </div>
    </div>
    <!-- header end -->
  
    <!-- packages -->
    <div class="col-12 pt-3 mb-5">
      <div class="container mt-md-5 mt-2">
        <div class="row justify-content-center">
          <div class="col-12">
            <h3 class="text-center pt-5 pb-3 light">
              Packages
            </h3>
          </div>
          <div class="col-12 col-lg-6">
            <p class="text-center pb-2 pb-md-5 mb-2 mb-md-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptatem libero nesciunt laboriosam nulla
              delectus
              quibusdam veniam odit exercitationem, eaque iure corrupti inventore, ea aliquam rem harum ipsum culpa
              eligendi.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-11 col-md-5 col-lg-4 pb-5">
                <div class="card p-4 rounded-0 border">
  
                  <span class="w-100 text-center">PACKAGE 1</span>
                  <div class="row justify-content-center">
                    <span>$</span>
                    <h2>
                      50.00
                    </h2>
                    <span class="align-bottom">start</span>
                  </div>
                </div>
  
              </div>
              <div class="col-11 col-md-5 col-lg-4 pb-5">
                <div class="card p-4 rounded-0 border">
  
                  <span class="w-100 text-center">PACKAGE 2</span>
                  <div class="row justify-content-center">
                    <span class="d-inline-block">$</span>
                    <h2 class="d-inline-block">
                      50.00
                    </h2>
                    <span class="d-inline align-bottom">start</span>
                  </div>
  
                </div>
  
              </div>
              <div class="col-11 col-md-5 col-lg-4 pb-5">
                <div class="card p-4 rounded-0 border">
  
                  <span class="w-100 text-center">SHARES</span>
                  <div class="row justify-content-center">
                    <span>$</span>
                    <h2>
                      60.00
                    </h2>
                    <span>start</span>
                  </div>
  
                </div>
  
              </div>
              <div class="col-12 text-center">
                <a href="#">All Packages ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- packages-end -->
  
    <!-- why us -->
    <div class="col-12 bg-light pt-5 mt-5 pb-5">
      <h3 class="text-center pt-5 pb-5 light">Why Koinfast</h3>
      <div class="row justify-content-center pt-5">
        <div class="container">
          <div class="row justify-content-start pb-5 mt-2 mb-5">
            <div class="col-md-8">
              <div class="row d-flex align-items-end">
                <div class="col-4">
                  <img src="../../../assets/images/instant_deposit.svg" alt="" srcset="" class="img-fluid">
                </div>
                <div class="col-8">
                  <h4 class="light pb-3">Instant Deposits</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio mollitia in? Quae aliquam est
                    modi obcaecati et
                    cupiditate nemo alias.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end pt-5 pb-5 mt-5 mb-5">
            <div class="col-md-8">
              <div class="row d-flex align-items-end">
                <div class="col-4">
                  <img src="../../../assets/images/instant_withdrawal.svg" alt="" srcset="" class="img-fluid">
                </div>
                <div class="col-8">
                  <h4 class="light pb-3">Fast Withdrawals</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio mollitia in? Quae aliquam est
                    modi obcaecati et
                    cupiditate nemo alias, quasi, itaque ducimus dolore praesentium, odio laboriosam culpa expedita!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-start pt-5 pb-5 mt-5 mb-5">
            <div class="col-md-8">
              <div class="row d-flex align-items-end">
                <div class="col-4">
                  <img src="../../../assets/images/low_cost.svg" alt="" srcset="" class="img-fluid">
                </div>
                <div class="col-8">
                  <h4 class="light pb-3">Low Cost</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio mollitia in? Quae aliquam est
                    modi obcaecati et
                    cupiditate nemo alias, quasi, itaque ducimus dolore praesentium, odio laboriosam culpa expedita!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end pt-5 pb-5 mt-5 mb-5">
            <div class="col-md-8">
              <div class="row d-flex align-items-end">
                <div class="col-4">
                  <img src="../../../assets/images/security.svg" alt="" srcset="" class="img-fluid">
                </div>
                <div class="col-8">
                  <h4 class="light pb-3">Secured</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio mollitia in? Quae aliquam est
                    modi obcaecati et
                    cupiditate nemo alias, quasi, itaque ducimus dolore praesentium, odio laboriosam culpa expedita!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- why us end -->
  
    <!-- how it woks -->
    <div class="col-12 mb-5 pb-5">
      <div class="container pb-5">
        <h3 class="text-center mt-5 pt-5 light">How it works</h3>
        <div class="row justify-content-center pt-5">

          <div class="col-md-5 col-lg-4 pb-5">
            <div class="card bg-light rounded-0 p-4 border-0 h-100">
              <div class="row">
                <div class="col-12">
                  <div class="row justify-content-center">
                    <div class="col-6 pb-5  d-flex justify-content-center">
                      <img class="img-fluid h-100" style="width:60%" src="../../../assets/icons/details.svg">
                    </div>
                    <div class="col-12">
                      <h5 class="text-center light pb-4">1. Register</h5>
                      <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, aspernatur quos distinctio
                        eum
                        quae</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-5 col-lg-4 pb-5">
            <div class="card bg-light rounded-0 p-4 border-0 h-100">
              <div class="row">
                <div class="col-12">
                  <div class="row justify-content-center">
                    <div class="col-6 pb-5 d-flex justify-content-center">
                      <img class="img-fluid h-100" style="width:50%" src="../../../assets/icons/wallet.svg">
                    </div>
                    <div class="col-12">
                      <h5 class="text-center light pb-4">2. Buy a Package</h5>
                      <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, aspernatur quos distinctio
                        eum
                        quae</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-5 col-lg-4 pb-5">
            <div class="card bg-light rounded-0 p-4 border-0 h-100">
              <div class="row">
                <div class="col-12">
                  <div class="row justify-content-center">
                    <div class="col-6 pb-4  d-flex justify-content-center">
                      <img class="img-fluid h-100" style="width:60%" src="../../../assets/icons/getPaid.svg">
                    </div>
                    <div class="col-12">
                      <h5 class="text-center light pb-4">3. Get Paid</h5>
                      <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, aspernatur quos distinctio
                        eum
                        quae</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <!-- rounded-0 how it works end -->
  </div>
</div>