<div class="col-12">
  <div class="container">
    <div class="row">
      <div class="col-6 d-flex align-items-center">
        <span class="text-white pt-2 pb-2">@koinfast</span>
      </div>
      <div class="col-6 d-flex align-self-center justify-content-end">
        <img src="../../../assets/icons/instagram.svg" class="rounded float-right pr-4" alt="...">
        <img src="../../../assets/icons/twitter.svg" class="rounded float-right pr-4" alt="...">
        <img src="../../../assets/icons/facebook.svg" class="rounded float-right pr-4" alt="...">
      </div>
    </div>
  </div>
</div>
