
<h4 class="pt-2 pb-2">DEPOSITS</h4>

<table class="table table-striped pt-5">
  <thead>
    <tr>
      <td>#</td>
      <td>Amount</td>
      <td>Investment Date</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of $deposits| async">
      <td>#{{ i.refNo }}</td>
      <td>{{ i.amount | currency:"USD" }}</td>
      <td>{{ i.depositDate | date: "dd MMMM yyyy"}}</td>
      <td>
        <span class="badge badge-pill badge-{{ badgeBg.get(state[i.state]) }}"> {{state[i.state] }}</span> 
      </td>
    </tr>
  </tbody>
</table>
