
/* You can add global styles to this file, and also import other style files */
$white: #fff !default;
$gray-100: #f1f4f9 !default;
$gray-200: #d4dfed !default;
$gray-300: #c6d4e7 !default;
$gray-400: #a9bfda !default;
$gray-500: #8da9ce !default;
$gray-600: #436a9d !default;
$gray-700: #2b4464 !default;
$gray-800: #182739 !default;
$gray-900: #0c131d !default;
$black: #000 !default;

$theme-colors: (
  "primary": #304d6d,
);

$enable-rounded: false;

@import "node_modules/bootstrap/scss/bootstrap.scss";

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  // overflow: hidden;
}

.btn-primary{
  color: #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loader {
  border: 3px solid transparent; /* Light grey */
  border-top: 3px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}