/* You can add global styles to this file, and also import other style files */
$white: #fff !default;
$gray-100: #f1f4f9 !default;
$gray-200: #d4dfed !default;
$gray-300: #c6d4e7 !default;
$gray-400: #a9bfda !default;
$gray-500: #8da9ce !default;
$gray-600: #436a9d !default;
$gray-700: #2b4464 !default;
$gray-800: #182739 !default;
$gray-900: #0c131d !default;
$black: #000 !default;

$theme-colors: (
  "primary": #304d6d,
);

$enable-rounded: false;

@import "node_modules/bootstrap/scss/bootstrap.scss";

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  // overflow: hidden;
}

.btn-primary{
  color: #fff;
}